@charset "utf-8";
/* CSS Document */

@media (min-width: 1200px){.custom_number {font-size: 72px}}
@media (min-width: 992px){.custom_number {font-size: 72px}}
@media (min-width: 768px){.custom_number {font-size: 60px}}
@media (max-width: 768px){.custom_number {font-size: 54px}}
.custom_number{
font-weight: 600;
line-height: 1;
margin-bottom: 5px;
text-transform: uppercase;
color: #0073ff;
font-family: "Novecento Sans Wide","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.fontc-degicoin{color:#0073ff;}
.fontb-normal{font-weight: normal;}
      *.kiyakubox
      {
         border: solid 1px #808080;
         height: 200px;
         padding: 0.5em;
         overflow: auto;
      }
      q  { color: #008000; }

      *.newsbox
      {
         /*border: solid 1px #808080;*/
         height: 250px;
         padding: 0.5em;
         overflow: auto;
      }