
.preview-header-prime {  
    position: fixed !important;
    position: absolute;
	z-index: 999;
	left: 0; top: 0;
}

.news-day{
	width:70px;
}
.news-btc{
	width:50px;
	background-image:url("http://fujicrypto.com/img/news-btc.png");
	background-size:contain;
	background-repeat: no-repeat;
}
.news-xrp{
	width:50px;
	background-image:url("http://fujicrypto.com/img/news-xrp.png");
	background-size:contain;
	background-repeat: no-repeat;
}
.news-xnf{
	width:50px;
	background-image:url("http://fujicrypto.com/img/news-xnf.png");
	background-size:contain;
	background-repeat: no-repeat;
}
.news-fjc{
	width:50px;
	background-image:url("http://fujicrypto.com/img/news-fjc.png");
	background-size:contain;
	background-repeat: no-repeat;
}
.news-attention{
	width:50px;
	background-image:url("http://fujicrypto.com/img/news-attention.png");
	background-size:contain;
	background-repeat: no-repeat;
}
