
.tweet-slider:before,
.testimonial-slider:before {
  font-family: 'FontAwesome';
  display: inline-block;
  content: '\f10d';
  text-align: center;
  font-size: 24px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin-bottom: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #dd9b02 !important;
}
.splash-text .splash-intro a,
.splash-text .splash-intro span {
  display: inline-block;
  background: #dd9b02;
  padding: 20px;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.site-footer .footer-bottom .social-list a:hover {
  background-color: #dd9b02;
}
.main-nav ul li a:hover,
.main-nav ul li.active > a,
.main-nav ul li.current-menu-item > a {
  color: #dd9b02;
}
.hydrogen-theme .owl-page span,
.rsHydrogen .rsBullet span {
  background-color: #dd9b02;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;
  margin-top: 3px;
  opacity: 0;
  color: #444444;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.rsHydrogen .rsArrowIcn:hover {
  background-color: #dd9b02;
}
.section-title small > .highlight,
.section-separator-title small > .highlight,
.section-subtitle small > .highlight,
.page-title small > .highlight {
  display: inline-block;
  padding: 5px 15px;
  background-color: #dd9b02;
  color: #fff;
  margin: 5px 0;
  font-size: 16px;
}
.section-title:before {
  content: '';
  position: absolute;
  top: -23px;
  left: 0;
  width: 60px;
  height: 5px;
  background-color: #dd9b02;
}
.icon-box .icon {
  float: left;
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  color: #dd9b02;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.icon-box.circled:hover .icon,
.icon-box.boxed:hover .icon,
.icon-box.circled.touch .icon,
.icon-box.boxed.touch .icon {
  background-color: #dd9b02;
  color: #fff;
}
.team .team-photo figcaption a {
  display: block;
  position: absolute;
  z-index: 1;
  width: 44px;
  height: 44px;
  overflow: hidden;
  right: 0;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #dd9b02;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.team-popup .team-content .social-list a:hover {
  color: #dd9b02;
}
.counter .number {
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #dd9b02;
}
.media .overlay a:hover,
.slider-media .overlay a:hover {
  background-color: #dd9b02;
}
.slider-media:hover figure figcaption span,
.slider-media.touch figure figcaption span {
  background-color: #dd9b02;
}
.projects .filter li.active a,
.projects .filter li:hover a {
  color: #fff;
  background-color: #dd9b02;
}
.projects .project-image .overlay .actions a {
  display: block;
  text-align: center;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: #dd9b02;
}
.projects .project-load-more a:hover {
  background-color: #dd9b02;
}
.project-details-popup .project-controls button:hover {
  color: #fff;
  background-color: #dd9b02;
}
.recent-post-body .read-more-link {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: #fff;
  background-color: #dd9b02;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  left: 1px;
  top: 14px;
  width: 0;
  height: 8px;
  background: #dd9b02;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
  box-shadow: 0 1px 1px rgba(32, 33, 34, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.main-nav > ul > li > ul {
    border-top: 2px solid #dd9b02;
}
.splash-slider .cycle-prev:hover,
.splash-slider .cycle-next:hover {
  background-color: #dd9b02;
}
.splash-text .splash-intro a,
.splash-text .splash-intro span {
  display: inline-block;
  background: #dd9b02;
  padding: 20px;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.site-footer .footer-bottom .social-list a:hover {
  background-color: #dd9b02;
}
.main-nav ul li a:hover,
.main-nav ul li.active > a,
.main-nav ul li.current-menu-item > a {
  color: #dd9b02;
}
.hydrogen-theme .owl-page span,
.rsHydrogen .rsBullet span {
  background-color: #dd9b02;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;
  margin-top: 3px;
  opacity: 0;
  color: #444444;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.rsHydrogen .rsArrowIcn:hover {
  background-color: #dd9b02;
}
.section-title small > .highlight,
.section-separator-title small > .highlight,
.section-subtitle small > .highlight,
.page-title small > .highlight {
  display: inline-block;
  padding: 5px 15px;
  background-color: #dd9b02;
  color: #fff;
  margin: 5px 0;
  font-size: 16px;
}
.section-title:before {
  content: '';
  position: absolute;
  top: -23px;
  left: 0;
  width: 60px;
  height: 5px;
  background-color: #dd9b02;
  }
  .icon-box .icon {
  float: left;
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  color: #dd9b02;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.icon-box.circled:hover .icon,
.icon-box.boxed:hover .icon,
.icon-box.circled.touch .icon,
.icon-box.boxed.touch .icon {
  background-color: #dd9b02;
  color: #fff;
}
.team .team-photo figcaption a {
  display: block;
  position: absolute;
  z-index: 1;
  width: 44px;
  height: 44px;
  overflow: hidden;
  right: 0;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #dd9b02;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.team-popup .team-content .social-list a:hover {
  color: #dd9b02;
}
.counter .number {
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #dd9b02;
}
.tweet-slider:before,
.testimonial-slider:before {
  font-family: 'FontAwesome';
  display: inline-block;
  content: '\f10d';
  text-align: center;
  font-size: 24px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin-bottom: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #dd9b02;
}
.media .overlay a:hover,
.slider-media .overlay a:hover {
  background-color: #dd9b02;
}
.slider-media:hover figure figcaption span,
.slider-media.touch figure figcaption span {
  background-color: #dd9b02;
}
.projects .filter li.active a,
.projects .filter li:hover a {
  color: #fff;
  background-color: #dd9b02;
}
.projects .project-image .overlay .actions a {
  display: block;
  text-align: center;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: #dd9b02;
}
.projects .project-load-more a:hover {
  background-color: #dd9b02;
}
.project-details-popup .project-controls button:hover {
  color: #fff;
  background-color: #dd9b02;
}
.recent-post-body .read-more-link {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: #fff;
  background-color: #dd9b02;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.recent-post-body .read-more-link:after,
.recent-post-body .read-more-link:before {
  content: '';
  position: absolute;
  border: 14px solid transparent;
  border-top-color: #dd9b02;
  border-right-color: #dd9b02;
  -webkit-transition: border-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: border-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.post-header .meta a:hover {
  border-bottom-color: #dd9b02 !important;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  width: 0;
  height: 8px;
  background: #dd9b02;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
  box-shadow: 0 1px 1px rgba(32, 33, 34, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  left: 1px;
  top: 14px;
  width: 0;
  height: 8px;
  background: #dd9b02;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
  box-shadow: 0 1px 1px rgba(32, 33, 34, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
 .main-nav > ul > li > ul {
    border-top: 2px solid #dd9b02;
  }

